@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css");
@import url("//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button,pre {margin:0;padding:0}
fieldset,img {border:0 none;vertical-align:top;}
dl,ul,ol,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button,pre{font-size:12px;line-height:1.5;font-family:"Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;color:#333} /* color값은 디자인가이드에 맞게사용 */
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:none;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
html,body{font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;}
.hidden{display: none; visibility: hidden; font-size: 0; opacity: 0; width: 0; height: 0; margin: 0; padding: 0}

/* set */
header{background-color: #011E41; color: #fff; text-align: center;}
header h1{padding: 14px 47px; font-size: 20px; font-weight: 600}
header .logo{display: block; width: 100px; float: left;}
header img{width: 100%}
header .exit{display: block; width: 32px; float: right;}
nav{background-color: #eee; margin: auto;}
.nav{display: flex;}
.nav .link{display: block; padding: 10px; font-weight: 700; min-width: 110px; border-right: 1px solid #ccc}
.nav .link:hover{opacity: 0.7; background-color: #ddd;}
.nav .on .link{background-color: #313F4F; color: #fff}
.nav .on .link:hover{background-color: #313F4F;opacity: 1}
.menu_wrap{display: block; position: relative; color: #333; cursor: pointer;}
.brand_menu_wrap{position: absolute;display: none; z-index: 9999;left:-1px; min-width: 132px; top: 38px;}
.menu_wrap:hover .brand_menu_wrap,.brand_menu_wrap:hover{display: block; box-sizing: border-box;}
.brand_menu_wrap li{border-bottom: 1px solid #ccc}
.brand_menu_wrap li:last-child{border: none}
.brand_menu{display: block; padding: 10px 5px;background-color: #ddd; font-weight: 500}
.brand_menu:hover{background-color: #888;color: #fff}

.sub_title{font-size: 28px; margin-bottom: 20px; color: #011E41; font-weight: 800}

.blue_back{background-color: #011E41; color: #fff}
.gray_back{background-color: #eee}
.btn{cursor: pointer; border-radius: 5px; text-align: center;}
.btn:hover{opacity: 0.7;}
.btn_off{background-color: #ddd; color: #999}
.center_flex{display: flex;justify-content: center}

/* index */
.index{display: flex;justify-content: space-evenly;align-items: center; text-align: center;}
.index>section{width: 50%; height: 100vh; display: flex;align-items: center;justify-content: center}
.index .logo{min-width: 400px; width: 100%; margin: auto}
.index .title{color: #011e41; font-size: 36px; font-weight: 800}
.index .btn{display: block; min-width: 140px; width: 40%; padding: 12px; margin: 20px auto 0; font-size: 18px}

/* dashboard */
.dashboard{text-align: center; color: #011E41}
.dashboard .num{width: 80%; min-width: 1630px; justify-content: space-evenly; margin: auto; padding: 55px 0}
.dashboard .num h3{font-size: 28px}
.dashboard .num p{font-size: 60px; font-weight: 800}
.dashboard .num .blank{margin: 0 14px}
.dashboard .num .list_btm{font-size: 14px}
.dashboard .num .list_btm strong{margin-left: 5px}
.dashboard .btm{font-size: 28px; align-items: center; margin-top: 40px}
.dashboard .btm h3{font-weight: 800; margin-right: 60px}
.dashboard .btm li{display: flex;}
.dashboard .btm_num h4{text-align: right; width: 100px; font-weight: 300}
.dashboard .btm_num p{text-align: right; min-width: 220px; font-weight: 800;}
.dashboard .btm_txt{margin-top: 40px;opacity: 0.8; font-size: 14px}

/*자산 감가상각 현황*/
.status{padding: 38px 47px; min-width: 1320px; box-sizing: border-box;position: relative; margin: auto;}

.search_box h3{font-size: 16px; margin-bottom: 10px; color: #313F4F; font-weight: 800}
.search_box{position: relative; margin-bottom: 40px}
.search{border: 2px solid #011E41; padding: 14px; border-top: none; background-color: #fefefe}
.search .label{background-color: #011E41; color: #fff; padding: 10px 0; width: 120px; text-align: center; display: inline-block; margin-right: 6px; font-weight: 500; font-size: 12px}
.search input, .search select{height: 24px;box-sizing: border-box; cursor: pointer; padding: 0 5px}
.search .text{display: inline-block;}
.search .s_text{min-width: 170px}
.search .s_text{min-width: 140px}
.search .m_text{min-width: 340px}
.search .l_text{min-width: 450px}
.search select{min-width: 140px; margin-right: 6px}
.search .input_wrap{display: inline-block; line-height: 24px;margin-top: 6px;}
.search .input_wrap label{margin-right: 10px; cursor: pointer;}
.search .flex{display: flex; width: 100%}
.search .search_list{width: 50%;border-top: 1px solid #313F4F;}
.search .search_list li{border-bottom: 1px solid #313F4F}
.search .btn{display: block; margin: auto; padding: 12px; width: 400px; margin-top: 16px; font-weight: 800; background-color: #1a1a1a; color: #fff}
.search_close{background-color: #011E41;color: #fff}
.search_box details{border-top: 2px solid #011E41;}
.search_box summary:hover{opacity: 0.7}
.search_box summary{background-color: #011E41; color: #fff; display: block; text-align: center; margin: auto; cursor: pointer; position: absolute; bottom: -24px; border: 1px solid #011E41; left: 50%; width: 100px; margin-left: -50px; padding: 1px 0; border-radius: 0 0 5px 5px}
.search_box summary::-webkit-details-marker,.search_box summary::marker {content: ''; display: none; color: #fff}
.search_box details[open] > summary::marker {content: ''; display: none;}
.search_box summary::after{content: "\e941";font-family : xeicon; font-size: 15px; color: #fff;}
.search_box details[open] summary:after{content: "\e944";font-family : xeicon; font-size: 15px; color: #fff;}

.table_top{display: flex; justify-content: space-between; font-size: 12px; font-weight: 600; margin-bottom: 10px; color: #011E41}
.table{width: 100%;border-collapse:collapse;}
.table a{text-decoration: underline;}
.table a:hover{opacity: 0.7}
.table th{background-color: #011E41; color: #fff}
.table td{color: #333}
.table th,.table td{border: 1px solid #313F4F; padding: 5px; text-align: center;}
.table tr:has(>td input:checked),.table tr:has(>td input:checked:hover){background-color: #D0DAE5}
.table tr:has(>td input:hover){background-color: #eee}
.table input{cursor: pointer;}

.page{margin-top: 24px}
.page a{font-size: 13px; margin: 0 12px; cursor: pointer;}
.page a:hover{opacity: 0.7}
.page .on{font-weight: 900}

/*자산 등록*/
.input_box h3{font-size: 16px; margin-bottom: 10px; color: #313F4F; font-weight: 800}
.input_box .search{border-top:2px solid #011E41;}
.input_list{width: 100%;border-top: 1px solid #313F4F;}
.input_list li{border-bottom: 1px solid #313F4F}
.up_btn{display: block; width: 200px; height: 35px; float: right; margin-top: -10px}
 
/*자산 처분*/
.blank{height: 38px}
.table_select{margin-left: 10px;}
.table_select select{padding: 0 5px;cursor: pointer; box-sizing: border-box; height: 24px; min-width: 150px;margin-top: -2px}
.select_btn{display: inline-block; width: 100px; height: 24px;margin-top: -2px}

/*팝업*/
.popup{display: none; width: 1000px; height: 800px; border:1px solid #011E41; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);padding: 30px 50px; box-sizing: border-box; position: fixed; left: 50%; top: 50%; margin-top: -400px; margin-left: -500px; background-color: #fff}
.popup.on{display: block;}
.popup .search{max-height: 600px; overflow-y: auto;}
.popup .input_list{margin-bottom: 20px}
.popup .m_title{font-size: 14px; color: #011E41; margin-bottom: 5px; margin-top: 5px}

.popup_close,.sel_popup_close{position: absolute; right: 20px; top: 20px}
.popup_close::after,.sel_popup_close::after{display: block; content: "\e921";font-family : xeicon; font-size: 22px; color: #011E41;}
.popup_save{display: block; width: 220px; height: 35px; margin: 20px auto 0;}
.popup_on{text-decoration: underline;}
.popup_on:hover{opacity: 0.7}

/*건별 자산 조회*/
.search_list_full{width: 100%;border-top: 1px solid #313F4F;}
.search_list_full li{border-bottom: 1px solid #313F4F}
.search_mid{padding: 0; border: none; padding-top: 20px}
.search_mid .flex{border: 1px solid #011E41; border-right: 2px solid #011E41; box-sizing: border-box;}

.sel_popup{display: none; width: 1000px; height: fit-content; border:1px solid #011E41; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);padding: 30px 50px; box-sizing: border-box; position: absolute; left: 50%; top: 150px; margin-left: -500px; background-color: #fff}
.sel_popup.on{display: block;}
.sel_popup td{cursor: pointer;}
.sel_popup tr:hover{background-color: #D0DAE5}


/*상품 스크립트 메뉴*/
.sub_menu{position: relative; cursor: pointer;}
.menu_link_wrap{display: none;}
.sub_menu:hover .menu_link_wrap,.menu_link_wrap:hover{display: flex;position: absolute;}
.menu_link_wrap li:hover{display: block;}

/*상품 스크립트 통합 검색*/
.card_btn{display: block; float: right; background-color: #313F4F; color: #fff; padding: 10px 20px; border-radius: 5px; font-size: 13px; font-weight: 400}
.card_btn:hover{opacity: 0.7}
.h3{font-size: 16px; margin-bottom: 10px; color: #313F4F; font-weight: 800}
.t_search_box{display: flex; align-items: center; justify-content: center; margin-bottom: 40px}
.t_search{display: block; height: 48px;box-sizing: border-box; padding: 0 10px; min-width: 850px}
.t_search_btn{display: block; height: 48px; background-color: #011E41; color: #fff; padding: 0 50px; margin-left: 10px}
.t_search_btn:hover{opacity: 0.7}
.brand_link_wrap{display: flex;justify-content: center; padding: 20px 0; margin-bottom: 40px; border: 1px solid #ddd;
flex-wrap: wrap}
.brand_link_wrap li{margin: 20px}
.brand_link{display: flex; border-radius: 100%; width: 150px; height: 150px; text-align: center; background-size: cover; background-position: center; background-color: #313F4F; align-items: center;justify-content: center; font-size: 18px; word-break: keep-all; color: #fff; padding: 20px; box-sizing: border-box; line-height: 1.2em}
.brand_link:hover{opacity: 0.7}
.pr_li{margin-bottom: 20px}
.pr_li>a{display: block;padding: 20px;background-color: #eee; border-radius: 5px; box-sizing: border-box; font-size: 13px;}
.pr_li>a:hover{opacity: 0.7}
.pr_img{display: block; width: 130px; height: 130px; border: 1px solid #ddd; margin-right: 20px}
.pr_top{font-weight: 500}
.pr_top h4{font-size: 15px; font-weight: 900; margin-bottom: 6px}
.script_btn{display: block; float: right; background-color: #011E41; color: #fff; padding: 10px 20px; border-radius: 5px}
.script_btn:hover{opacity: 0.7}
.pr_flex{display: flex;}
.pr_left{margin-right: 30px; padding-right: 30px; border-right: 1px solid #ccc}
.pr_stat{padding: 4px 5px; border-radius: 5px;font-size: 10px; color: #fff; font-weight: 500; margin-right: 5px; box-sizing: border-box;}
.pr_on .pr_stat{content: '';background-color: #22B14C;}
.pr_on .pr_stat::after{content: '주문가능'}
.pr_off{opacity: 0.6}
.pr_off .pr_stat{content: '';background-color:#333}
.pr_off .pr_stat::after{content: '주문불가'}

/*상품 스크립트 상품 등록*/
.script_input{border: 2px solid #011E41; padding: 14px; background-color: #fefefe;}
.script_input .radio_wrap{display: flex;align-items: center}
.radio_wrap .radio_btn{cursor: pointer; display: none;}
.radio_wrap label{cursor: pointer; font-weight: 500; font-size: 12px; text-align: center; width: 100px; border: 1px solid #011E41; color: #011E41; padding: 5px; box-sizing: border-box;}
.radio_wrap label:hover{opacity: 0.7}
.radio_wrap .radio_btn:checked+label{background-color: #011E41; color: #fff}
.radio_wrap .m_text{margin-left: 10px}
.script_input .script_input_list{display: table;border-top: 1px solid #313F4F; width: 100%}
.script_input .tr{display: table-row;}
.script_input .td{display: table-cell; border-bottom: 1px solid #313F4F;padding: 5px; vertical-align: middle}
.script_input .td:first-child{background-color: #011E41;width: 140px;}
.script_input .label{color: #fff; width: 140px; text-align: center; display: inline-block; font-weight: 500; font-size: 12px;}
.script_input input,.script_input textarea{box-sizing: border-box; padding: 5px;}
textarea{resize: none;}
.script_input .text{display: inline-block;box-sizing: border-box; padding: 5px;}
.editor{min-width: 850px; box-sizing: border-box;}
.script_input .s_text{min-width: 200px}
.script_input .m_text{min-width: 340px}
.script_input .l_text{min-width: 850px}
.script_input .unit{margin-left: 5px; font-size: 13px; font-weight: 500}

.script_input .btn{display: block; margin: auto; padding: 12px; width: 400px; margin-top: 16px; font-weight: 800; background-color: #1a1a1a; color: #fff}
.script_input select{padding: 5px; margin-right: 5px; min-width: 250px; cursor: pointer;}

.script_input_btm{margin-top: 20px}
.v_title{margin-bottom: 10px}
.v_wrap{padding: 10px; background-color: #011E41}
.v_info{margin-left: 10px; font-size: 12px; font-weight: 500}
.option_btn,.add_btn,.del_btn{background-color: #313F4F; color: #fff; border-radius: 5px; padding: 8px 10px; font-size: 11px; text-decoration: none; cursor: pointer;}
.del_btn{background-color: #B00000}
.option_btn:hover,.add_btn:hover,.del_btn:hover{opacity: 0.7}
.del_btn,.add_btn{margin: 5px 0 0 5px}
.add_td li{margin-top: 5px}
.add_td li:first-child{margin-top: 0}
.m_text.off{display: none;}

/*상품 스크립트 팝업*/
.new_add{display: flex; align-items: center;background-color: #eee; width: 100%}
.new_add_input{margin: 0 3px}
.new_add_btn{background-color: #011E41; color: #fff; border-radius: 5px; padding: 8px 0; font-size: 10px; text-decoration: none; cursor: pointer; text-align: center; width: 100px; margin-left: px}
.new_add_btn:hover{opacity: 0.7}
.brand_list{padding-top: 5px;}
.brand_list li{margin: 0 3px; border: none; display: flex; padding-bottom: 5px;}
.new_add .new_add_text,.brand_list li input{height: 30px}
.brand_list .radio_wrap{display: flex;align-items: center;margin-left: 5px}
.brand_list .radio_wrap label{width: 50px}

/*상품 스크립트 상세*/
.detail{padding: 38px 0; max-width: 842px; box-sizing: border-box;position: relative; margin: auto; font-size: 14px}
.detail .detail_tab{display: flex;justify-content: space-around;align-items: center; margin-top: 50px; margin-bottom: 20px; border-bottom: 5px solid #313F4F}
.detail .detail_tab li{background-color: #eee; width:100%; text-align: center; padding: 10px 0; cursor: pointer; font-weight: 600; border-right: 2px solid #fff; box-sizing: border-box; color: #555}
.detail .detail_tab li:last-child{margin-right: 0}
.detail .detail_tab li:hover{background-color: #ccc}
.detail .detail_tab li.on{background-color: #313F4F; color: #fff}
.detail .detail_tab.fix{position: fixed; top: 0; width: 842px; margin-top: 0}
.detail h3{margin-bottom: 10px; font-weight: 800; font-size: 18px; color: #313F4F}
.detail h4{font-size: 14px; font-weight: 800; margin-right: 10px; min-width: 100px;}
.detail h4::before{content: ''; border-left: 5px solid #ddd; margin-right: 10px}
.detail .ul>li:first-child{border-top: 1px solid #ddd; padding-top: 10px}
.detail .ul>li{margin-block: 10px; border-bottom: 1px solid #ddd; padding-bottom: 10px}
.detail .title_btn{display: block; float: right; background-color: #313F4F; color: #fff; padding: 10px 20px; border-radius: 5px; font-size: 13px; font-weight: 400}
.detail .title_btn:hover{opacity: 0.7}
.detail .flex{display: flex; align-items: center}
.detail .brand{font-size:22px; font-weight: 400; display: inline-block; margin-right: 10px; color: #313F4F;}
.detail .cate{border: 1px solid #313F4F; color: #313F4F; border-radius: 5px; padding: 2px 8px; font-weight: 600; font-size: 13px; display: inline-block;}
.detail .select_ver{height: 32px;box-sizing: border-box; cursor: pointer; padding: 0 5px; width: 840px; font-size: 14px}
.detail .pr_everything{font-size: 14px; line-height: 1.4em; max-width: 842px; box-sizing: border-box; padding: 20px; background-color: #f3f3f3; margin-top: 10px}
.detail .pr_detail{width: 842px; margin: auto; text-align: center; border: 1px solid #ddd; box-sizing: border-box;}
.detail .pr_detail img{width: 840px}
.detail .tabpage{padding-top: 30px}
.detail #tabpage1.fix{margin-top: 116px}

/*상품 스크립트 검색*/
.search_n{text-align: center; font-size: 22px; font-weight: 500; padding: 100px 0; color: #999}


/*상담 스크립트 관리*/
.sd_td_title a{text-overflow: ellipsis;text-wrap: nowrap; overflow: hidden; display: inline-block; max-width: 250px}
.sb_flex{display: flex; width: 100%; justify-content: space-between;}
.sd_reg_btn{display: inline-block; padding: 3px 15px; margin-right: 5px}
.search .re_btn{background-color: #999;}
.list_table{border-collapse:collapse; width: 100%; margin: 20px 0}
.list_table th{background-color: #011E41; color: #fff;}
.list_table th, .list_table td{border: 1px solid #313F4F; padding: 5px; text-align: center;}
.list_table td:first-child{text-align: left; padding: 0 10px; font-weight: 800}
.list_table tr.sub1{background-color: #eee}
.list_table tr.sub2{background-color: #ccc}
.list_table tr.sub3{background-color: #aaa}
.list_table tr.sub4{background-color: #999}
.list_table tr.sub5{background-color: #777}
.list_table tr.sub6{background-color: #555}
.list_table tr.long input{min-width: 350px}
.s_btn{display: inline-block; margin: auto; width: auto; padding: 0 10px; background-color: #1a1a1a; color: #fff; border-radius: 5px; font-size: 11px; font-weight: 400; height: 29px; line-height: 29px}
.s_btn:hover{opacity: 0.7}
.s_btn.first{background-color: #313F4F}
.s_btn.del{width: 50px; background-color: #B00000}
.btm_btn_wrap{display: flex;align-items: center;justify-content: center;}
.btm_btn_wrap .btn{margin: 16px 0}
.btm_btn_wrap .btn.list_btn{background-color: #999; width: 100px; margin-right: 20px}
.btm_btn_wrap .btn.save{width: 400px}

.sd_cate_flex{display: flex;justify-content: space-between; align-content: stretch;}
.sd_cate{width: 33%; border: 1px solid #011e41; box-sizing: border-box; height: 500px;}
.sd_cate h3{text-align: center;padding: 10px 0; background-color: #011e41; color: #fff}
.sd_cate ul{padding:10px; overflow-y: auto; height: 381px; background: #f3f3f3}
.sd_cate ul li{margin-bottom: 5px}
.sd_cate ul li:last-child{margin-bottom: 0}
.sd_cate .cate_text{width: 72.5%}
.cate_plus_btn_wrap{padding: 0 10px 10px}
.cate_plus_btn,.cate_edit_btn,.cate_del_btn{color: #fff; border-radius: 5px; padding: 8px 10px; font-size: 11px; text-decoration: none; cursor: pointer; box-sizing: border-box;}
.cate_plus_btn:hover,.cate_edit_btn:hover,.cate_del_btn:hover{opacity: 0.7}
.cate_plus_btn{background-color: #313F4F; margin: auto; display: block; width: 100%;}
.cate_edit_btn,.cate_del_btn{width: 48%}
.cate_edit_btn{background-color: #313F4F;}
.cate_del_btn{background-color: #B00000;}
.cate_btn_wrap{float: right; width: 27%; text-align: right;}
/*상담 스크립트 관리 끝*/


/*홈쇼핑 방송 정보*/
.status{max-width: 1842px;}
.sub_title .update_txt{float: right; font-size: 14px; font-weight: 500}
.sub_title .update_txt strong{font-weight: 900}

/*검색*/
.search .label{min-width: 120px; height: 100%}
.date_radio{display: flex; align-items: center; margin-left: 10px;flex-wrap: wrap}
.date_radio input{display: none;}
.date_radio input:checked+label{background-color: #011E41; color: #fff}
.date_radio input:checked+label:hover{opacity: 1}
.date_radio label:hover{opacity: 0.7}
.date_radio label{border: 1px solid #333; color: #333; border-radius: 3px; padding: 3px 5px; min-width: 60px; text-align: center; box-shadow: none; margin-right: 5px; cursor: pointer;}
.checkbox_wrap{display: table-row;}
.checkbox_wrap .label{display: table-cell; vertical-align: middle;border-bottom: 1px solid #313F4F; box-sizing: border-box; min-height: 38px}
.checkbox_wrap .checkbox{display: table-cell; padding: 3px 6px; vertical-align: middle; border-bottom: 1px solid #313F4F; box-sizing: border-box; min-height: 38px}
.checkbox{margin-left: 0; max-width: 1580px}
.checkbox label{margin: 3px 5px 3px 0; display: inline-block;}

/*검색 결과*/
.search_r_box{padding-top: 20px}
.search_r{text-align: center; background-color: #eee; padding: 20px; font-size: 13px; font-weight: 500}
.search_r b{font-weight: 800; font-size: 14px; margin-left: 5px}
.search_r span{color: #aaa; margin: 0 10px}
.search_r_f{font-size: 15px; margin-top: 10px}
.search_r_f b{font-size: 16px}

/*세로 차트*/
.chart_box{display: flex; width: 100%; justify-content: space-evenly; border: 2px solid #011E41; padding: 14px; box-sizing: border-box;}
.chart_box li{text-align: center;color: #777; cursor: pointer;}
.chart_box li:hover{opacity: 0.7}
.chart_box .chart{height: 200px; width: 30px; margin: 20px auto 10px; display: flex; align-items: flex-end}
.chart_box .chart div{background-color: #ccc; width: 100%}
.chart_box li.today{color: #011E41}
.chart_box .today .chart div{background-color: #011E41;}
.chart_box li.next{color: #A1B3C9}
.chart_box .next .chart div{background-color: #A1B3C9;}	
.chart_box .date{font-size: 12px}
.chart_box .num{font-size: 16px; font-weight: 700}
.btm_chart_box h3{font-size: 16px; margin-bottom: 10px; color: #313F4F; font-weight: 800;}

/*가로 차트*/
.chart_box_h{width: 400px; border: 2px solid #011E41; padding: 14px; box-sizing: border-box;flex-direction: column;}
.chart_box_h h4{font-size: 13px; font-weight: 700; margin-bottom: 1px; width: 100px;word-break: keep-all; margin-right: 5px; line-height: 1em}
.chart_box_h li{margin-bottom: 14px; display: flex;align-items: center}
.chart_box_h li:last-child{margin-bottom: 0}
.chart_box_h .chart{width: 100%; overflow: visible;  font-size: 12px;}
.chart_box_h .chart div{background-color: #ddd; height: 28px; line-height: 28px; overflow: visible; text-align: left; color: #777; text-wrap:nowrap; font-weight: 700; text-indent: 10px}
.chart_box_h .chart a{cursor: pointer; display: block;}
.chart_box_h .chart a:hover div{background-color: #011E41; color: #ccc;}

.flex_center{display: flex; align-items: center;}
.flex_center .label{margin-right: 6px}
.date_blank{margin: 0 2px}
.btm_chart{display: flex;justify-content: space-between; padding-top: 40px}
.chart_box_h .now {position: relative;}
.chart_box_h .now .chart div{background-color: #011E41; color: #ccc}
.chart_box_h .now span{display: block; position: absolute; margin-left: -47px; background-color: #ED3C3C; font-weight: 600; font-size: 12px; top: 4px;color:#fff; padding: 0 5px; border-radius: 3px}

/*원형 차트*/
.chart_donut{width: 320px; height: 320px; margin: 30px auto; border-radius: 50%; position: relative;}
.chart_donut_wrap h4 a:hover{opacity: 0.7}
.chart_donut_wrap h4 a strong{width: 80px; display: inline-block;}
.chart_box_donut{width: 400px; border: 2px solid #011E41; padding: 14px; box-sizing: border-box;flex-direction: column;}
.chart_box_donut h4{font-size: 14px; font-weight: 700; margin-bottom: 5px;}
.chart_box_donut li{margin-bottom: 14px;}
.chart_box_donut .chart{width: 100%; overflow: visible;  font-size: 12px;}
.chart_box_donut .chart div{background-color: #ddd; height: 28px; line-height: 28px; overflow: visible; text-align: left; color: #777; text-wrap:nowrap; font-weight: 700; text-indent: 10px}
.chart_box_donut .chart a{cursor: pointer; display: block;}
.chart_box_donut .chart a:hover div{background-color: #011E41; color: #fff;}	

/*팝업*/
.hsp .popup_on{text-decoration: none;}
.hsp_popup{height: 800px; margin-top: -400px; width: 1400px; margin-left: -700px}
.hsp_popup .scroll{max-height: 620px; overflow-y: auto;}
.hsp_popup .popup_text{height: 24px; box-sizing: border-box; padding: 0 5px;min-width: 220px; margin-right:3px}
.margin_r{margin-right: 12px}
.thumb_img{width: 80px; height: 80px; display: inline-block; margin-right: 8px; background: no-repeat; background-size: contain; vertical-align: middle; border: 1px solid #ddd}
.thumb_txt{display: inline-block; vertical-align: middle; max-width: 350px; overflow: hidden;}
/*홈쇼핑 방송 정보 끝*/


/*정렬 추가*/
.table td.left{text-align: left;}
.table td.right{text-align: right;}

/*엑셀 다운 버튼*/
.excel{background-color: #217346; margin-right:3px; color: #fff; width: 120px}
.excel .down:before {font-family: 'xeicon'; content: "\eb7c"; color: #fff}

/*표 정렬*/
.align_up,.align_down{display: block; border:none; box-shadow: none; float: right;}
.align_up:before,.align_down:before{font-family: 'xeicon';color: #fff;}
.align_up:before {content: "\e915"; }
.align_down:before {content: "\e905";}


/*404에러*/
.warning::after{content: "\ea2d";font-family : xeicon;font-size: 80px; display: block; color: #FFB700}
.warning_msg{font-size: 22px; color: #011E41; font-weight: 800}
.warning_msg_sub{font-size: 18px; margin: 20px auto 40px}

/*footer*/
.ver{text-align: right; font-size: 11px; padding: 10px 20px; color: #aaa; box-sizing: border-box;}